#header_top{
  display: block ;
  background: skyblue ; 
  font-size: 20px;
}

#text-button {
  display: block;
  background: red;
  cursor: pointer;
  width: 200px;
  text-align: center;
  border: 1px solid #232323;
}
#header {
  display: none;
  background: red;
  width: 80px;
  height: 50px;
}
#btn_header {
  background : red;
  width: 100px;
  height: 100px;
}

#header_fadeInOut {
  display: none;
  background: red;
  width: 80px;
  height: 50px;
}
.container{ height:120px;}
#div1{ background:pink; display:none; }
#div2{ background:yellow; display:block; }

.example table {
  background-color: skyblue;
  width: 3000px;
  height: 1000px;
  border: 10px #000000 solid;
}
  
.example td {
  border: 10px #000000 solid;
}
  
.example th {
  border: 10px #000000 solid;
}