#header_top{
  display: block ;
  background: skyblue ; 
  font-size: 20px;
}

#text-button {
  display: block;
  background: skyblue;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 3px solid #232323;
}
#header {
  /*display: none;だと要素を非表示にするとレイアウトが変わってしまうので、visibility:hiddenを使う*/
  visibility:hidden;
  background: red;
  width: 10px;
  height: 20px;
}
#btn_header {
  display: block;
  color: aqua;
  background : red;
  width: 10px;
  height: 10px;
}

#header_fadeInOut {
  visibility:hidden;
  background: red;
  width: 80px;
  height: 50px;
}
.container{ height:20px;}
#div1{ background:pink; visibility:hidden; }
#div2{ background:yellow; display:block; }

.example table {
  background-color: skyblue;
  width: 10px;
  height: 20px;
  border: 5px #000000 solid;
}
  
.example td {
  border: 5px #000000 solid;
}
  
.example th {
  border: 5px #000000 solid;
}