#text-button {
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
}
#header {
  display: none;
  background: red;
  width: 100px;
  height: 100px;
}