body {
  background-color: rgb(255, 255, 255);
}
body{
	margin: 0% 0% 0% 0% ;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(240, 240, 240);
}
.topNavigation{
	/*要素の縦の長さを指定する。*/
	height: 70px;
	margin: 0% 0% 0% 0%;
  display:flex;
	vertical-align:middle;
	background-color: rgb(24, 43, 208);
	font-size: x-large;
	color: #fff;
  position: relative;
}
.topNavigation p{
  text-align: left;
}
.topNavigation div{
  text-align: right;
}
.header_input{
  width: 100px;
  height: 20px;
  position: absolute;
  right: 30px;
  margin: 15px 25px 25px 15px;
}
.topNavigationMessage{
  position: absolute;
  left: 0;
}
.content_child{
	float: left;
	flex: 1;
	display: flex;
	background-color: rgb(255, 255, 255);
	text-align: left;
	margin-top: 0px;
	font-size: large;
	color: black;
}
.element_common{
	height: 100%;
	margin: 0%;
	display: flex;
	background-color: rgb(255, 255, 255);
	text-align: left;
	margin-top: 0px;
	font-size: large;
	color: black;
}
.header_class {
  display: inline-block;
  width: 400px;
  height: 100px;
}

#header_textbox {
  color: white;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.HomeGlobalNavCSS{
  list-style-type: none;
  color:white;
  display:inline-block;
  background-color: rgb(24, 43, 208);
  width: fit-content;
  height: 600px;
  padding-right: 25px ;
}
.splitNavSection{
  display: flex;
}
.buttuon_common{
  margin: 5px 5px 5px 5px;
}
#test {
  color: white;
}

#header_top{
  display: block;
  background: skyblue ; 
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 40px;
  height: 100px;
}

#btn_header_fadeInOut {
  color: aqua;
  width: 250px;
}

#btn_header {
  color: aqua;
  width: 250px;
}

#btn_show {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#btn_hide {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#btn_fadeIn {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#btn_fadeOut {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#header_fadeInOut {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

.sectionCSS{
  display:flex;
}

.footer{
  color: rgb(29, 159, 73);
  font-size: large;
}
.button_common{
  width:80px;
  height:80px;
  background-color: aqua;
}
