#header_top{
  display: block ;
  background: skyblue ; 
  font-size: 20px;
}

#text-button {
  display: block;
  background: skyblue;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 3px solid #232323;
}
#header {
  /*display: none;だと要素を非表示にするとレイアウトが変わってしまうので、visibility:hiddenを使う*/
  visibility:hidden;
  background: red;
  width: 10px;
  height: 20px;
}
#btn_hide {
  visibility: hidden;
  color: aqua;
  width: 250px;
}

#btn_header_fadeInOut {
  visibility: hidden;
  color: aqua;
  width: 250px;
}

#btn_show {
  color: aqua;
  background-color: green;
  width: 250px;
}

#btn_hide {
  color: aqua;
  background-color: green;
  width: 250px;
}

#btn_fadeIn {
  color: aqua;
  background-color: green;
  width: 250px;
}

#btn_fadeOut {
  color: aqua;
  background-color: green;
  width: 250px;
}

#header_fadeInOut {
  visibility:hidden;
  width: 180px;
  height: 50px;
}

.example table {
  background-color: skyblue;
  width: 180px;
  height: 80px;
  border: 5px gray solid;
}
  
.example td {
  color:gray;
  border: 10px gray solid;
}
  
.example th {
  border: 10px gray solid;
}