body {
  background-color: rgb(255, 255, 255);
}

.header_class {
  display: inline-block;
  width: 400px;
  height: 100px;
}

#header_textbox {
  color: white;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.HomeGlobalNavCSS{
  list-style-type: none;
  color:white;
  display:inline-block;
  background-color: rgb(24, 43, 208);
  width: fit-content;
  height: max-content;
  padding-right: 25px ;
}
.content_parent{
	/*要素の横の長さを指定する。*/
	width: fit-content;
	height: 100%;
	margin: 0%;
	margin-top: 1px;
	margin-left: 0%;
	margin-right: 10px;
	display:inline-block;
	background-color: rgb(44, 186, 31);
	text-align: left;
	font-size: large;
	color: white;
}
.splitNavSection{
  display:inline-block;
}

#test {
  color: white;
}

#header_top{
  display: block;
  background: skyblue ; 
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 40px;
  height: 100px;
}

#btn_header_fadeInOut {
  color: aqua;
  width: 250px;
}

#btn_header {
  color: aqua;
  width: 250px;
}

#btn_show {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#btn_hide {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#btn_fadeIn {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#btn_fadeOut {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

#header_fadeInOut {
  color: blue;
  background-color: grey;
  height: 60px;
  width: 10%;
}

.sectionCSS{
  display:flex;
}

.footer{
  color: rgb(29, 159, 73);
  font-size: large;
}
.button_common{
  width:80px;
  height:80px;
  background-color: aqua;
}