body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.topNavigation{
    height: 50px;
    vertical-align:middle;
    text-align: left;
    background-color: rgb(32, 29, 193);
    font-size: large;
    color: #fff;
}
.content_parent{
    display:flex;
    flex: 1;
    background-color: rgb(24, 43, 208);
    text-align: left;
    margin-top: 10px;
    font-size: large;
    color: #fff;
}
.content_child{
    float: left;
    flex: 1;
    background-color: rgb(45, 45, 45);
    text-align: left;
    margin-top: 10px;
    font-size: large;
    color: #fff;
}