body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.topNavigation{
    height: 70px;
    vertical-align:middle;
    text-align: left;
    background-color: rgb(24, 43, 208);
    font-size: large;
    color: #fff;
}
.content_parent{
    width: 100px;
    display:flex;
    flex: 1;
    background-color: rgb(24, 43, 208);
    text-align: left;
    margin-top: 10px;
    font-size: large;
    color: white;
}
.content_child{
    float: left;
    flex: 1;
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 10px;
    font-size: large;
    color: #fff;
}