body{
	margin: 0% 0% 0% 0% ;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(240, 240, 240);
}
.topNavigation{
	/*要素の縦の長さを指定する。*/
	height: 70px;
	margin: 0% 0% 0% 0%;
	vertical-align:middle;
	text-align: left;
	background-color: rgb(24, 43, 208);
	font-size: xxx-large;
	color: #fff;
}
.content_child{
	float: left;
	flex: 1;
	display: flex;
	background-color: rgb(255, 255, 255);
	text-align: left;
	margin-top: 0px;
	font-size: large;
	color: black;
}
.element_common{
	height: 100%;
	margin: 0%;
	display: flex;
	background-color: rgb(255, 255, 255);
	text-align: left;
	margin-top: 0px;
	font-size: large;
	color: black;
}